# Joins web site https://www.sql-practice.com/

Q1. Show first name, last name, and the full province name of each patient
    Example: 'Ontario' instead of 'ON'
 
Query:- 
SELECT p.first_name,p.last_name, pn.province_name 
FROM patients as p left join province_names as pn
on p.province_id=pn.province_id;

Q2. Show patient_id, first_name, last_name from patients whos diagnosis is 'Dementia'.
    Primary diagnosis is stored in the admissions table.

Query:-
select p.patient_id, p.first_name, p.last_name
from patients as p left join admissions as ad
on p.patient_id=ad.patient_id
where ad.diagnosis='Dementia';

Q3. Show first_name, last_name, and the total number of admissions attended for each doctor.
    Every admission has been attended by a doctor.

Query:- 
select d.first_name, d.last_name, count(ad.patient_id) as 'Total_admissions'
from admissions as ad left join doctors as d
on ad.attending_doctor_id = d.doctor_id
group by d.first_name, d.last_name;

Q4. For each doctor, display their id, full name, and the first and last admission date they attended.

Query:- 

SELECT d.doctor_id, CONCAT(d.first_name, ' ', d.last_name) AS Full_Name, 
    MIN(ad.admission_date) AS First_Admission, 
    MAX(ad.admission_date) AS Last_Admission
FROM admissions AS ad LEFT JOIN doctors AS d
ON ad.attending_doctor_id = d.doctor_id
GROUP BY d.doctor_id;

Q5. Display the total amount of patients for each province. Order by descending.

Query:- 
select pn.province_name, count(pn.province_id) as patient_count
from patients p left join province_names pn
on p.province_id=pn.province_id
group by pn.province_name
order by patient_count DESC;

Q6. For every admission, display the patient's full name, their admission diagnosis, 
and their doctor's full name who diagnosed their problem.

Query:- 
select concat(p.first_name,' ',p.last_name) as patient_name,
ad.diagnosis, 
concat(d.first_name,' ',d.last_name) as Doctor_name 
from patients as p right join admissions as ad
on ad.patient_id= p.patient_id
right join doctors as d
on ad.attending_doctor_id = d.doctor_id;

Q7. Show patient_id, first_name, last_name, and attending doctor's specialty.
   Show only the patients who has a diagnosis as 'Epilepsy' and the doctor's first name is 'Lisa' 
   Check patients, admissions, and doctors tables for required information.

Query:-

select p.patient_id, 
p.first_name as patient_first_name, 
p.last_name as patient_last_name,
d.specialty as attending_doctor_specialty
from patients as p right join admissions as ad
on ad.patient_id= p.patient_id
right join doctors as d
on ad.attending_doctor_id = d.doctor_id
where ad.diagnosis = 'Epilepsy' and d.first_name='Lisa';

Q8. 
You Got The Query Correct
View All Questions
Next Question

Easy
All patients who have gone through admissions, can see their medical documents on our site. Those patients are given a temporary password after their first admission. Show the patient_id and temp_password.

The password must be the following, in order:
1. patient_id
2. the numerical length of patient's last_name
3. year of patient's birth_date

Query:- 

SELECT DISTINCT P.patient_id,
CONCAT(P.patient_id,LEN(last_name),YEAR(birth_date)) AS temp_password
FROM patients P JOIN admissions A 
ON A.patient_id = P.patient_id;

## list Question from w3resource

In [12]:
# Q1. Write a Python program to sum all the items in a list.

list1 = [10,15,16,18]
sum_number = 0
for x in list1:
    sum_number+=x
print(sum_number)

59

In [10]:
# Q2. Write a Python program to multiply all the items in a list.
total = 1
for i in list1:
    total*=i
print(total)

43200

In [16]:
# Q3. Write a Python program to get the largest number from a list.
list2 = [10,20,9,18]
largest_number = list2[0]
for i in list2:
    if i>largest_number:
        largest_number =i
print(largest_number)

20

In [17]:
# Q4. Write a Python program to get the smallest number from a list.
smallest_number = list2[0]
for i in list2:
    if i<smallest_number:
        smallest_number =i
print(smallest_number)

9

In [3]:
"""
Q5. 
Write a Python program to count the number of strings from a given list of strings. 
The string length is 2 or more and the first and last characters are the same.
Sample List : ['abc', 'xyz', 'aba', '1221']
Expected Result : 2
"""
Sample_List =  ['abc', 'xyz', 'aba', '1221']
ctr = 0
for word in Sample_List:
        if len(word) > 1 and word[0] == word[-1]:
            ctr += 1
print(ctr)

2

# Methods of list

append()	Adds an element at the end of the list
clear()	Removes all the elements from the list
copy()	Returns a copy of the list
count()	Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	Removes the element at the specified position
remove()	Removes the first item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list

In [6]:
list=[1,2,3,4,5]
list.append(2)
print(list)

[1, 2, 3, 4, 5, 2]

In [8]:
list.clear() # remove all element in the list

In [9]:
print(list)

[]

In [10]:
list3 =[1,2,3,4,6]
x= list3.copy()
print(x)

[1, 2, 3, 4, 6]

In [16]:
fruits = ['apple', 'banana', 'cherry'] 

x = fruits.count("cherry")
x

1

In [17]:
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [19]:
fruits

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [22]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
x

2

In [23]:
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

In [24]:
fruits

['apple', 'orange', 'banana', 'cherry']

In [25]:
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

'banana'

In [26]:
fruits

['apple', 'cherry']

In [27]:
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

In [28]:
fruits

['apple', 'cherry']

In [29]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [30]:
fruits

['cherry', 'banana', 'apple']

In [31]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

In [32]:
cars

['BMW', 'Ford', 'Volvo']