In [1]:
import pandas as pd
import numpy as np

In [9]:
"""
Q1. How do you sort a DataFrame by multiple columns in ascending order for
one column and descending order for another? Provide an example.
"""
df = pd.DataFrame({"id":[1,2,3,4,5,6,7,8,9],"name":['Olivia', 'Aditya', 'Cory', 'Isabell', 'Dominic', 'Tyler', 'Samuel', 'Daniel', 'Jeremy'],
                  "Age":[20, 25, 15, 10, 30, 65, 35, 18, 23],
                  "Product":[101,0, 106, 0, 103, 104,0 ,0 , 107],
                  "Purchased":['Watch','N/A', 'Oil', 'N/A', 'Shoes', 'Smartphone','N/A' ,'N/A' , 'Laptop'],
                  "City":['Mumbai', 'Delhi', 'Bangalore', 'Chennai', 'Chennai', 'Delhi', 'Kolkata', 'Delhi', 'Mumbai'],
                  "Sale_Amount":[10000,150000,2000,30000,15000,16000,15000,25000,48000]})
df

sorted_df = df.sort_values(by=['name', 'Purchased'], ascending=[True, False])

print("Original DataFrame:")
print(df)
print("\nSorted DataFrame:")
print(sorted_df)

Original DataFrame:
   id     name  Age  Product   Purchased       City  Sale_Amount
0   1   Olivia   20      101       Watch     Mumbai        10000
1   2   Aditya   25        0         N/A      Delhi       150000
2   3     Cory   15      106         Oil  Bangalore         2000
3   4  Isabell   10        0         N/A    Chennai        30000
4   5  Dominic   30      103       Shoes    Chennai        15000
5   6    Tyler   65      104  Smartphone      Delhi        16000
6   7   Samuel   35        0         N/A    Kolkata        15000
7   8   Daniel   18        0         N/A      Delhi        25000
8   9   Jeremy   23      107      Laptop     Mumbai        48000

Sorted DataFrame:
   id     name  Age  Product   Purchased       City  Sale_Amount
1   2   Aditya   25        0         N/A      Delhi       150000
2   3     Cory   15      106         Oil  Bangalore         2000
7   8   Daniel   18        0         N/A      Delhi        25000
4   5  Dominic   30      103       Shoes    Chennai        15000
3   4  Isabell   10        0         N/A    Chennai        30000
8   9   Jeremy   23      107      Laptop     Mumbai        48000
0   1   Olivia   20      101       Watch     Mumbai        10000
6   7   Samuel   35        0         N/A    Kolkata        15000
5   6    Tyler   65      104  Smartphone      Delhi        16000

In [10]:
#Q2. Given a DataFrame, how would you filter rows where the values in the 'Age' column are greater than 30 and less than 50?
filtered_df = df[(df['Age'] > 30) & (df['Age'] < 50)]

print("Filtered DataFrame:")
filtered_df

Filtered DataFrame:

   id    name  Age  Product Purchased     City  Sale_Amount
6   7  Samuel   35        0       N/A  Kolkata        15000

In [11]:
# Q3.How would you slice the first 5 rows and select only the 'Name' and 'Age' columns from a DataFrame?
result = df[['name', 'Age']].head()
result

      name  Age
0   Olivia   20
1   Aditya   25
2     Cory   15
3  Isabell   10
4  Dominic   30

In [12]:
# Q4. Write a code snippet to group a DataFrame by the 'Purchased'column and calculate the mean Sale_Amount for each Purchased.

df_mean = df.groupby('Purchased')['Sale_Amount'].mean()
df_mean

Purchased
Laptop        48000.0
N/A           55000.0
Oil            2000.0
Shoes         15000.0
Smartphone    16000.0
Watch         10000.0
Name: Sale_Amount, dtype: float64

In [13]:
# Q5. Explain the difference between merge() with an 'inner' join and 'outer' join. Provide an example using two DataFrames.

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5],
    'Score': [85, 90, 95]
})

# Inner Join
inner_join = pd.merge(df1, df2, on='ID', how='inner')

# Outer Join
outer_join = pd.merge(df1, df2, on='ID', how='outer')

print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

print("\nInner Join Result:")
print(inner_join)

print("\nOuter Join Result:")
print(outer_join)

DataFrame 1:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

DataFrame 2:
   ID  Score
0   3     85
1   4     90
2   5     95

Inner Join Result:
   ID     Name  Score
0   3  Charlie     85

Outer Join Result:
   ID     Name  Score
0   1    Alice    NaN
1   2      Bob    NaN
2   3  Charlie   85.0
3   4      NaN   90.0
4   5      NaN   95.0

In [14]:
# Q6.How do you concatenate two DataFrames vertically and reset the index of the resulting DataFrame?

df3 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 30]
})

df4 = pd.DataFrame({
    'Name': ['Charlie', 'David'],
    'Age': [35, 40]
})

result = pd.concat([df3, df4], axis=0, ignore_index=True)

print("DataFrame 1:")
print(df3)
print("\nDataFrame 2:")
print(df4)
print("\nConcatenated DataFrame with Reset Index:")
print(result)

DataFrame 1:
    Name  Age
0  Alice   25
1    Bob   30

DataFrame 2:
      Name  Age
0  Charlie   35
1    David   40

Concatenated DataFrame with Reset Index:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [15]:
"""
Q7. Write a code snippet to calculate the sum of sales and the average profit for each region in a DataFrame 
grouped by 'Region'.
"""
data = {
    'Region': ['North', 'South', 'North', 'East', 'West', 'South', 'East'],
    'Sales': [1000, 1500, 2000, 1200, 1700, 1800, 1100],
    'Profit': [200, 300, 250, 220, 280, 330, 210]
}

df = pd.DataFrame(data)

result = df.groupby('Region').agg(
    Total_Sales=('Sales', 'sum'),
    Avg_Profit=('Profit', 'mean')).reset_index()

print("Original DataFrame:")
print(df)
print("\nGrouped DataFrame with Aggregations:")
print(result)

Original DataFrame:
  Region  Sales  Profit
0  North   1000     200
1  South   1500     300
2  North   2000     250
3   East   1200     220
4   West   1700     280
5  South   1800     330
6   East   1100     210

Grouped DataFrame with Aggregations:
  Region  Total_Sales  Avg_Profit
0   East         2300       215.0
1  North         3000       225.0
2  South         3300       315.0
3   West         1700       280.0